.app {
  color: #fff;
  display: flex;
  background-image: linear-gradient(to top, #060607 0%,#26262c 81%, #233e75);
  overflow: hidden;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */

}
.app__content {
  margin-left: 80px;
  padding: 20px;
  width: 100%;
}
.status-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: white;
 
}


.status-bar.online {
  background-color: green;
  
}

.status-bar.offline {
  background-color: red;
}
.pngimage{
  position: absolute;
  width: 30px;
  height: 30px;
}